*.local
**/*.local

compile_commands.json

sample/addons/hidusbgd/*
!sample/addons/hidusbgd/libhidusbgd.gdextension
!sample/addons/hidusbgd/libhidusbgd.macos.template_debug.framework
!sample/addons/hidusbgd/libhidusbgd.macos.template_release.framework

sample/addons/hidusbgd/libhidusbgd.macos.template_debug.framework/*
!sample/addons/hidusbgd/libhidusbgd.macos.template_debug.framework/Resources

sample/addons/hidusbgd/libhidusbgd.macos.template_release.framework/*
!sample/addons/hidusbgd/libhidusbgd.macos.template_release.framework/Resources